.field-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.copy.icon::before {
  content: "📋"; /* Unicode character for clipboard icon */
}

.copy.icon {
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  font-size: 1rem;
}
.copy.icon:hover {
  opacity: 0.8;
}
